@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../BricolageGrotesque-VariableFont.ttf') format('truetype');
}

.markdown > * {
  all: revert;
}

:root {

  line-height: 1.5;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E1F20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Avenir', sans-serif !important;
}

blockquote p {
  padding: 12px;
  border-left: 3px solid #696F72; 
}

a {
  color: #696F72;
}

body {
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1.5s forwards;
}

.fade-out {
  animation: fadeOut 1.5s forwards;
}

.fade-container {
  opacity: 0.4;
  transition: opacity 1.5s ease-in-out; 
}

.fade-in {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .fade-container {
    font-size: 18px;
    line-height: 1.6; 
    margin: 0 auto; 
  }
}